
.nav{
    display: flex;
    justify-content: space-between ;
  
  }
  
.nav ul{
    list-style-type: none;
    gap:24px;
    display: flex;
    font-weight: 500;
    color:red
  } 

.nav img{
    border: 1px solid red;
}